@media (max-width: 13660px) and (min-width: 501px){ 
body {
	width: 986px; /* fix page width */
	margin:auto; /* center in viewport */
	padding:0;
	color:#ffffff;
	background-color:#044952;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	}
}

@media (max-width: 500px) and (min-width: 0px){ 
body {
	width: 320px; /* fix page width */
	margin:auto; /* center in viewport */
	padding:0;
	color:#000000;
	background-color:#f0f0f0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	}
}

